@model MovieHistory.Models.MovieViewModels.TrackedMoviesViewModel

<h1>Yay! You tracked a movie!</h1>

<a asp-action="ListWatched">Only see watched movies</a>
<div id="movieGrid" class="container-fluid">

    @foreach (var trackedMovie in Model.TrackedUserMovies)
    {
        <div class='row'>
            <div class="col-md-3 movieGrid__movie"
                 id="movie--@Html.DisplayFor(modelItem => trackedMovie.MovieUserId)">

                <h2 class="fakeLink">@Html.DisplayFor(modelItem => trackedMovie.Title)</h2>
                <img class="fakeLink"
                     src="https://image.tmdb.org/t/p/w154/@Html.DisplayFor(modelItem => trackedMovie.ImageURL)" />

                @if (trackedMovie.Watched == false)
                {
                    <p><a asp-action="Watched" asp-route-movieUserId="@trackedMovie.MovieUserId">Mark as Watched</a></p>
                }
                else
                {
                    <p>Watched</p>
                    @if (trackedMovie.Favorited == false)
                    {
                        <p><a asp-action="Favorite" asp-route-movieUserId="@trackedMovie.MovieUserId">Mark as Favorite</a></p>
                    }
                    else
                    {
                        <p>Favorite Movie</p>
                    }
                }
            </div>
        </div>
    }

</div>



